/* -----------Smartphone View----------- */ 
@media only screen and (max-width : 480px)   {

   #sidebar {
      display: none;
   }
   
   #content {
      width: 300px;
   }
   
   #header {
      display: none;
   }

/* 	.header .jumbotron .marketing { */
/* 		width: 300px */
/* 	} */

}

.image {
	width: 300px;
	max-width: 100%;
	height: auto;
	border=0;
}